/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/UnknownJava.iml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_04_11_2023_18_56_[Changes]/shelved.patch

/out/
/.idea/
